@import url('https://fonts.googleapis.com/css2?family=Albert+Sans:wght@200&family=Raleway:ital,wght@1,300&display=swap');

.direct-access {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.055);
    padding: 5.3vh;
    border-radius: 15px;
}

.direct-access h1 {
    margin: 0 0 5.3vh 0;
    font-family: "Raleway", sans-serif;
    font-size: 4.2vh;
    font-weight: 500;
    font-style: italic;
    letter-spacing: .5vh;
    position: relative;
}

.access-container {
    display: flex;
    flex-direction: row;
}

.mudae-container {
    margin-bottom: 3.7vh;
}

.direct-access > .closed {
    height: 0px;
    width: 0px;
    margin: 0px;
}

.direct-access.mudae {
    padding-bottom: 1.6vh;
}