@font-face {
    src: url("https://www.axis-praxis.org/fonts/webfonts/MetaVariableDemo-Set.woff2")
      format("woff2");
    font-family: "Meta";
    font-style: normal;
    font-weight: normal;
  }
  
  .main-name {
    transition: all 0.3s ease;
    -webkit-text-stroke: .4vh #d6f4f4;
    font-variation-settings: "wght" 900, "ital" 1;
    font-size: 30vh;
    text-align: center;
    line-height: 30vh;
    color: transparent;
    font-family: "Meta", sans-serif;
    text-shadow: 1vh 1vh 0px #c41558,
      1vh 1vh 30px #c41558,
      1.5vh 1.5vh 0px #8b566a,
      2vh 2vh 0px #818181,
      2.5vh 2.5vh 0px #636363,
      4.5vh 4.5vh 1vh #0000005b;
    user-select: none;
  }
  
  .main-name-container {
    width: 80vh;
    margin: 12vh 0;
    margin-top: 7.5vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
  }

  .main-name-container h3 {
    font-variation-settings: "wght" 200, "ital" 1;
    font-family: "Meta", sans-serif;
    text-shadow: 2px 2px 0px #000000;
    position: absolute;
    font-size: 55px;
    color: WHITE;
  }

  .main-name-container:hover .main-name{
    font-variation-settings: "wght" 100, "ital" 1;
    text-shadow: none;
  }

  @media (max-width: 70vh) {
    .main-name {
      transform: scale(.6) translate(-20px, 0);
    }
  }