@font-face {
  src: url("https://www.axis-praxis.org/fonts/webfonts/MetaVariableDemo-Set.woff2")
    format("woff2");
  font-family: "Meta";
  font-style: normal;
  font-weight: normal;
}

.main-name {
  transition: all 0.3s ease;
  -webkit-text-stroke: 1px #d6f4f4;
  font-variation-settings: "wght" 900, "ital" 1;
  font-size: 150px;
  text-align: center;
  margin: 0;
  line-height: normal;
  color: transparent;
  font-family: "Meta", sans-serif;
  text-shadow: 10px 10px 0px #c41558, 10px 10px 30px #c41558,
    15px 15px 0px #8b566a, 20px 20px 0px #818181, 25px 25px 0px #636363,
    45px 45px 10px #0000005b;
  user-select: none;
}

.main-name-container {
  width: 340px;
  margin: 30px 0;
  margin-top: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.main-name-container:hover .main-name {
  font-variation-settings: "wght" 100, "ital" 1;
  text-shadow: none;
}

@media (max-width: 100vh) {
  .main-name {
    transform: scale(0.8) translate(-20px, 0);
  }
  .main-name-container {
    margin: 50px 0;
    margin-top: 20px;
  }
}

.copy-done {
  position: fixed;
  bottom: 0;
  z-index: 9999;
  background-color: rgba(0, 0, 0, 0.863);
  padding: 13px;
  margin: 30px 0;
  border-radius: 15px;
  outline: 1px solid rgba(116, 116, 116, 0.253);
  transition: all .3s ease;
  transform: translate(0, 95px);
  opacity: 0;
}

.copy-done.in {
transform: none;
opacity: .7;
}